n8n-accuse-reception.json
{
  "name": "JYDanse - Accusé de réception",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-accuse-reception",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-contact",
      "name": "Webhook Contact",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "contact-accuse-reception"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inscription-accuse-reception",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-inscription",
      "name": "Webhook Inscription",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 640],
      "webhookId": "inscription-accuse-reception"
    },
    {
      "parameters": {
        "fromEmail": "J'y Danse <info@synaplink.be>",
        "toEmail": "={{ $json.body.email }}",
        "subject": "JYDanse — Nous avons bien reçu votre message ✉️",
        "emailType": "html",
        "html": "=<!DOCTYPE html>\n<html lang=\"fr\">\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background-color:#fff5f5;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;\">\n  <div style=\"max-width:600px;margin:0 auto;padding:40px 20px;\">\n    <div style=\"text-align:center;margin-bottom:30px;\">\n      <h1 style=\"font-size:28px;color:#1a1a2e;margin:0;\">JYDanse</h1>\n      <p style=\"color:#e11d48;font-size:14px;margin:4px 0 0;\">École de danse</p>\n    </div>\n    <div style=\"background:#ffffff;border-radius:16px;padding:32px;box-shadow:0 2px 12px rgba(0,0,0,0.06);\">\n      <h2 style=\"color:#1a1a2e;font-size:20px;margin:0 0 16px;\">Bonjour {{ $json.body.name }},</h2>\n      <p style=\"color:#555;font-size:15px;line-height:1.6;margin:0 0 16px;\">\n        Nous avons bien reçu votre message et nous vous en remercions.\n      </p>\n      <div style=\"background:#fff5f5;border-left:3px solid #e11d48;border-radius:8px;padding:16px;margin:20px 0;\">\n        <p style=\"margin:0 0 4px;font-size:13px;color:#888;\">Sujet</p>\n        <p style=\"margin:0;font-size:15px;color:#333;\">{{ $json.body.subject || 'Aucun sujet spécifié' }}</p>\n        <p style=\"margin:12px 0 4px;font-size:13px;color:#888;\">Votre message</p>\n        <p style=\"margin:0;font-size:14px;color:#555;white-space:pre-line;\">{{ $json.body.message }}</p>\n      </div>\n      <p style=\"color:#555;font-size:15px;line-height:1.6;margin:16px 0 0;\">\n        Nous vous répondrons dans les meilleurs délais.\n      </p>\n      <p style=\"color:#555;font-size:15px;line-height:1.6;margin:16px 0 0;\">\n        À bientôt sur la piste ! 💃\n      </p>\n    </div>\n    <div style=\"text-align:center;margin-top:30px;\">\n      <p style=\"color:#aaa;font-size:12px;margin:0;\">JYDanse — École de danse</p>\n      <p style=\"color:#aaa;font-size:12px;margin:4px 0 0;\">\n        <a href=\"https://www.jydanse.com\" style=\"color:#e11d48;text-decoration:none;\">www.jydanse.com</a>\n      </p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-contact",
      "name": "Email Accusé Contact",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [520, 300],
      "credentials": {
        "smtp": {
          "id": "VOTRE_CREDENTIAL_SMTP_ID",
          "name": "SMTP JYDanse"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "J'y Danse <info@synaplink.be>",
        "toEmail": "={{ $json.body.email }}",
        "subject": "JYDanse — Votre pré-inscription a bien été reçue 🎉",
        "emailType": "html",
        "html": "=<!DOCTYPE html>\n<html lang=\"fr\">\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background-color:#fff5f5;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;\">\n  <div style=\"max-width:600px;margin:0 auto;padding:40px 20px;\">\n    <div style=\"text-align:center;margin-bottom:30px;\">\n      <h1 style=\"font-size:28px;color:#1a1a2e;margin:0;\">JYDanse</h1>\n      <p style=\"color:#e11d48;font-size:14px;margin:4px 0 0;\">École de danse</p>\n    </div>\n    <div style=\"background:#ffffff;border-radius:16px;padding:32px;box-shadow:0 2px 12px rgba(0,0,0,0.06);\">\n      <h2 style=\"color:#1a1a2e;font-size:20px;margin:0 0 16px;\">Bonjour {{ $json.body.fullname }},</h2>\n      <p style=\"color:#555;font-size:15px;line-height:1.6;margin:0 0 16px;\">\n        Nous avons bien reçu votre pré-inscription et nous vous en remercions !\n      </p>\n      <div style=\"background:#fff5f5;border-left:3px solid #e11d48;border-radius:8px;padding:16px;margin:20px 0;\">\n        <p style=\"margin:0 0 4px;font-size:13px;color:#888;\">Nom</p>\n        <p style=\"margin:0 0 12px;font-size:15px;color:#333;\">{{ $json.body.fullname }}</p>\n        <p style=\"margin:0 0 4px;font-size:13px;color:#888;\">Email</p>\n        <p style=\"margin:0 0 12px;font-size:15px;color:#333;\">{{ $json.body.email }}</p>\n        {{ $json.body.phone ? '<p style=\"margin:0 0 4px;font-size:13px;color:#888;\">Téléphone</p><p style=\"margin:0 0 12px;font-size:15px;color:#333;\">' + $json.body.phone + '</p>' : '' }}\n        <p style=\"margin:0 0 4px;font-size:13px;color:#888;\">Cours sélectionnés</p>\n        <p style=\"margin:0;font-size:15px;color:#333;\">{{ Array.isArray($json.body.courses) ? $json.body.courses.join(', ') : ($json.body.courses || 'Aucun cours sélectionné') }}</p>\n      </div>\n      <p style=\"color:#555;font-size:15px;line-height:1.6;margin:16px 0 0;\">\n        <strong>Prochaine étape :</strong> nous vous recontacterons pour finaliser votre inscription et vous communiquer les modalités de paiement.\n      </p>\n      <p style=\"color:#555;font-size:15px;line-height:1.6;margin:16px 0 0;\">\n        À bientôt sur la piste ! 💃\n      </p>\n    </div>\n    <div style=\"text-align:center;margin-top:30px;\">\n      <p style=\"color:#aaa;font-size:12px;margin:0;\">JYDanse — École de danse</p>\n      <p style=\"color:#aaa;font-size:12px;margin:4px 0 0;\">\n        <a href=\"https://www.jydanse.com\" style=\"color:#e11d48;text-decoration:none;\">www.jydanse.com</a>\n      </p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-inscription",
      "name": "Email Accusé Inscription",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [520, 640],
      "credentials": {
        "smtp": {
          "id": "VOTRE_CREDENTIAL_SMTP_ID",
          "name": "SMTP JYDanse"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Accusé de réception envoyé\" }",
        "options": {}
      },
      "id": "response-contact",
      "name": "Réponse Contact",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Accusé de réception envoyé\" }",
        "options": {}
      },
      "id": "response-inscription",
      "name": "Réponse Inscription",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [780, 640]
    }
  ],
  "connections": {
    "Webhook Contact": {
      "main": [
        [
          {
            "node": "Email Accusé Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Inscription": {
      "main": [
        [
          {
            "node": "Email Accusé Inscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Accusé Contact": {
      "main": [
        [
          {
            "node": "Réponse Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Accusé Inscription": {
      "main": [
        [
          {
            "node": "Réponse Inscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "JYDanse"
    },
    {
      "name": "Email"
    }
  ]
}
